// Here you can add other styles
// Here you can add other styles
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    background-color: #fafafa;
}

.text-white {
    color: #ffffff !important;
}

.animated {
    height: 100%;
}

.navbar-red-border-top {
    border: none;
    border-top: 2px solid #E2231B;
    background-color: #FFF;
    border-bottom: 1px solid #EAECEF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
    width: 100%;
}

//LANDING

.login-base {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
}

.landing-wrapper {
    margin: 0;
    padding: 0;
    background: url("https://mufasa.interswitchng.com/p/iswportal/images/background_smartcard.png") top left no-repeat;
    background-size: cover;
    min-height: 300px;
    position: relative;
    color: #fff;
}

.landing-wrapper h2 {
    margin: 0;
    padding-top: 100px;
    line-height: 1.1;
    font-weight: 500;
    font-size: 30px;
    color: white;
}

.passport-container {
    width: 300px;
    position: relative;
    z-index: 500;
    top: -50px;
}

.login-card {
    background-color: #fff;
    border: 1px solid #f7f7f9;
    height: auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.landing-footer {
    font-size: 12px;
    color: #696969;
    position: absolute;
    bottom: 0;
    height: 60px;
}

.landing-footer .list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.landing-footer .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.landing-footer .flyingman img {
    height: 20px;
}


// Header Styles
.brand {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
}

.site-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    height: 55px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 996;
    transition: margin-left .3s ease;

    // padding: 0px 20px 0px 20px;
    
    .site-header {
        border-bottom: none;
    }
    .site-header {
        height: inherit;
        padding-top: 0;
    }

    .navbar {
        background-color: #ffffff;
        color: #003553;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    }
    .site-header__title {
        font-family: "Raleway", "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 44px;
        letter-spacing: 0.2px;
        color: #003553;
        border-left: 1px solid #e2e6e8;
        margin-left: 15px;
        padding-left: 15px;
    }
    
    .get__started {
        font-family: "Raleway", "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 44px;
        letter-spacing: 0.2px;
        color: #003553;
        border-left: 1px solid #e2e6e8;
        margin-left: 15px;
        padding-left: 15px;
    }
    a.site-header__title{
        color: #003553 !important;
        text-decoration: none;
    }
    
    .site-header__branding {
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
        align-items: center;
        justify-content: space-between;
    }
    .header-name{
        color: #003553;
        cursor: pointer;
        font-size: 0.8em;
    }
}

@media (max-width: 1600px){
.app-profile {
    padding: 10px;
}
}
.app-profile {
    font-style: sans-serif;
    cursor: pointer;
    padding: 15px;
}
.app-profile {
    display: inline-block;
    vertical-align: middle;
}

.app-profile-drop.active {
    opacity: 1;
    top: 60px;
}

.app-profile>span, .app-profile svg {
    display: inline-block;
    vertical-align: middle;
}
.app-profile>span {
    color: #00628f;
    font-size: 14px;
}
.app-profile svg {
    fill: #00628f;
    height: 20px;
    width: 20px;
}
.app-profile>span, .app-profile svg {
    display: inline-block;
    vertical-align: middle;
}

.app-profile-drop {
    // padding-top: 15px;
    position: absolute;
    top: -9999px;
    border: 1px solid #ddd;
    background: #fff;
    right: 133px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    opacity: 0;
    transition: opacity .5s;
}

.app-profile-drop:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    right: 15px;
    top: -5px;
    z-index: 20;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    box-shadow: -2px -2px 2px -1px rgba(0,0,0,.12);
}

.app-profile-drop div {
    padding: 15px;
    padding-left: 15px;
    width: 210px;
    font-size: 14px;
    font-weight: 100;
    color: #999;
    display: flex;
    align-items: center;
}
.app-profile-drop-user {
    padding-top: 5px!important;
    padding-bottom: 25px!important;
    border-bottom: 1px solid #eee;
    text-align: center;
    cursor: default!important;
}

.app-profile-drop-user svg {
    fill: #ddd;
    display: block;
    text-align: center;
    width: 90px;
    height: 90px;
    margin: auto;
}

.app-profile-drop-user span {
    display: block;
    font-size: 15px;
    font-weight: 100;
}
.app-profile-drop-signout svg {
    fill: #d37b7b;
}

.app-profile-drop-signout {
    color: #d37b7b !important;
}

.app-profile-drop-accounts svg, .app-profile-drop-signout svg {
    width: 20%;
}

.app-profile-drop-accounts span, .app-profile-drop-signout span {
    width: 75%;
    margin-left: 5%;
    text-align: left;
}

@media (max-width: 1600px){
    .app-profile-drop {
        right: 0px;
    }
    }
    
    @media (max-width: 1600px){
    .app-profile>span {
        font-size: 13px;
    }
    }
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0 !important;
    left: auto;
    z-index: 1000;
    display: none;
    float: none;
    min-width: 2em;
    // max-width: 4em;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item {
    padding: none;
}
//ASIDE or SIDEBAR
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 260px;
    background-color: #003553;
    white-space: nowrap;
    box-shadow: 0 0 5px rgba(0,0,0,.08);
    display: flex;
    flex-direction: column;
    z-index: 997;
    transform: translateZ(0);
    transition: .3s ease;
}
.sidebar-folded .sidebar-icons-right {
    left: -180px;
}
.sidebar-folded .sidebar-icons-right:hover {
    left: 0;
    box-shadow: 0 0 25px rgba(0,0,0,.1);
}
.menu-category, .sidebar, .sidebar-open {
    overflow: hidden;
}
.aside, .quickview, .sidebar {
    backface-visibility: hidden;
    perspective: 1000;
    will-change: transform;
}
.bg-white {
    background-color: #fff!important;
}
.sidebar-header {
    background-color: #926dde;
    padding: 0 12px;
    display: flex;
    align-items: center;
    color: #fff;
}
.sidebar-footer, .sidebar-header {
    height: 55px;
}

.sidebar-header>* {
    margin-left: 8px;
    margin-right: 8px;
}

.sidebar-header a {
    color: #fff;
}

.sidebar-header .logo-icon {
    text-align: center;
    flex-basis: 30px;
    font-size: 1.25rem;
    flex-shrink: 0;
}

.sidebar-icons-boxed .sidebar-header .logo-icon {
    flex-basis: 40px;
}

.sidebar-folded .sidebar:hover .logo, .sidebar-folded .sidebar:hover .title, .sidebar-folded .sidebar:hover.sidebar-icons-right.sidebar-icons-boxed .icon, .sidebar-folded .sidebar:hover.sidebar-icons-right.sidebar-icons-boxed .logo-icon {
    margin-left: 8px;
}
.sidebar-folded .sidebar.sidebar-icons-right.sidebar-icons-boxed .dot, .sidebar-folded .sidebar.sidebar-icons-right.sidebar-icons-boxed .icon, .sidebar-folded .sidebar.sidebar-icons-right.sidebar-icons-boxed .logo-icon {
    margin-left: 25px;
}
.sidebar:hover .logo-icon {
    /* display: none; */
    opacity: 0.0;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.sidebar-icons-right .sidebar-header .logo-icon, .sidebar-icons-right .sidebar-navigation .menu-link .dot, .sidebar-icons-right .sidebar-navigation .menu-link .icon {
    order: 1;
}

.sidebar-folded .sidebar .logo, .sidebar-folded .sidebar .title {
    transition: .4s;
}

.sidebar-header .logo {
    font-size: 1rem;
    font-weight: 500;
    flex-grow: 1;
}

.teaser img, img {
    max-width: 100%;
}

.sidebar-navigation {
    position: relative;
    overflow: hidden;
    flex: 1;
}
.fixed-table-container thead th, .ps-container {
    position: relative;
}
.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden!important;
    -ms-overflow-style: none;
}

.menu {
    margin-bottom: 30px;
}
.menu, ul.flexbox {
    padding-left: 0;
    list-style: none;
}

.menu-item {
    transition: opacity .2s linear;
}
.menu-item, .note-btn-group.note-fontname, .note-btn-group.note-fontsize {
    vertical-align: top;
}
.sidebar .menu>.menu-item:hover>.menu-link {
    background-color: rgba(0,0,0,.1);
}
.sidebar .menu:not(.menu-bordery)>.menu-item.active>.menu-link {
    // background-color: #48b0f7;
}
.sidebar .menu-item.active>.menu-link, .sidebar .menu-item:hover>.menu-link, .sidebar .menu-link, .sidebar-profile, .sidebar-profile h3, .sidebar-profile h4, .sidebar-profile h5, .sidebar-profile h6 {
    color: #fff;
}
.sidebar .menu-link {
    position: relative;
}
a:focus, a:hover {
    color: #616a78;
    outline: 0;
}

.breadcrumb a:hover, .clipboard-copy:hover, .toast .action a:hover, a:focus, a:hover, a[class*=text-]:focus, a[class*=text-]:hover {
    text-decoration: none;
}

.menu-submenu {
    background-color: #455160;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    display: none;
    list-style-type: none;
}
.menu-submenu, .topbar p {
    margin-bottom: 0;
}

.menu-link {
    height: 56px;
    padding: 0 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: .2s linear;
}
.menu-link .arrow::before {
    content: "\e649";
    font-family: themify;
    font-size: 8px;
    cursor: pointer;
    display: inline-block;
    transition: transform .3s linear;
}

.menu-link .title {
    flex-grow: 1;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    line-height: 1;
    font-size: 0.9em;
    font-weight: 700;

}

.menu-link .dot {
    position: relative;
    flex-basis: 30px;
    flex-shrink: 0;
}


.sidebar-folded .sidebar:hover .logo, .sidebar-folded .sidebar:hover .title, .sidebar-folded .sidebar:hover.sidebar-icons-right.sidebar-icons-boxed .icon, .sidebar-folded .sidebar:hover.sidebar-icons-right.sidebar-icons-boxed .logo-icon {
    margin-left: 8px;
}
.sidebar-folded .sidebar.sidebar-icons-right.sidebar-icons-boxed .dot, .sidebar-folded .sidebar.sidebar-icons-right.sidebar-icons-boxed .icon, .sidebar-folded .sidebar.sidebar-icons-right.sidebar-icons-boxed .logo-icon {
    margin-left: 25px;
}

.sidebar-folded .sidebar:hover.sidebar-icons-right.sidebar-icons-boxed .menu-submenu .dot, .sidebar-folded .sidebar:hover.sidebar-icons-right.sidebar-icons-boxed .menu-submenu .icon {
    margin-left: 13px;
}

.sidebar-icons-boxed .menu .active>.menu-link .icon {
    background-color: rgba(255,255,255,.15);
}

.sidebar-icons-boxed .menu-link .icon {
    font-size: 1em;
    background-color: rgba(0,0,0,.07);
    flex-basis: 40px;
    line-height: 40px;
    border-radius: 2px;
}
.menu-link .icon {
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    flex-basis: 30px;
    flex-shrink: 0;
}
.menu-link>* {
    margin-left: 8px;
    margin-right: 8px;
}


//MAIN
.sidebar-folded .sidebar~.topbar, .sidebar-folded .sidebar~main {
    margin-left: 80px;
}


.sidebar ~.topbar, .sidebar~main {
    margin-left: 260px;
}
main {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 55px;
    transition: margin-left .3s ease-out;
}

.ui.pointing.label {
    padding: 10px 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.sub-header {
    padding: 0 16px 0 5%;
}
.sub-header {
    transition: all 400ms ease-in-out;
    background-color: #fafafa;
    padding: 0 42px 0 5%;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.sub-header h3 {
    color: #507c91;
    margin: 0;
    font-weight: bold;
    line-height: 55px;
    font-size: 1em;
}

.content-wrapper {
    // max-width: 900px;
}

.route_section {
    padding: 30px 5%;
    animation: route_fade_in .3s;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: route_fade_in;
}

@media (max-width: 480px){
    .route_section {
        padding: 20px 30px;
    }
}

//DROP DOWN
.table__action__dropdown {
    background: #0275d8;
    color: #ffffff;
    margin-left: 1.3px;
    padding: 5px 15px 5px 12px;
    font-size: 0.85em;
    border: 1px solid #0275d8;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
}

.action-dropdown {
    position: relative;
    display: inline-block;
    color: #4d4d4d;
    font-size: 1.1em;
}

.action-dropdown .dropdown-holder:before {
    content: ' ';
    display: block;
    width: 38px;
    height: 27.2px;
    position: absolute;
    z-index: 999;
    top: -5px;
    left: -13px;
}

.action-dropdown .action-options {
    position: absolute;
    min-width: 115px;
    right: -1.6em;
    z-index: 999999;
    border: 1px solid rgba(231, 228, 228, 0.68);
    border-radius: 3px;
    background: #ffffff;
    margin: 8px 0 4px 0;
    padding: 2px 0;
    font-size: inherit;
}

.action-dropdown .action-option {
    text-align: left;
    padding: 0px 20px 3px 8px;
    margin: 8px 0;
    white-space: nowrap;
}

.action-dropdown .option-row .option-icon {
    padding: 0 1px 0 5px;
}

.action-dropdown .option-row .option-label {
    font-size: 1em;
    position: relative;
    padding: 0 9px;
}

.action-dropdown .option-row .option-icon svg {
    width: 0.9em;
    height: 0.9em;
    position: relative;
    top: 1px;
}
.action-dropdown .dropdown-holder svg {
    width: 0.8em;
    height: 0.8em;
    fill: #ffffff;
    position: relative;
    top: 1px;
}

svg:not(:root) {
    overflow: hidden;
}

//ROUTES
.splitroutes-text {
    font-size: 100%;
    color: #777;
    margin-bottom: 10px;
    font-family: Open Sans;
    letter-spacing: .7px;
}

.splitroutes-text .item {
    padding-bottom: 15px;
}

.splitroutes-new {
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 3px;
}

.splitroutes-new .params-area {
    display: inline-block;
    width: 85%;
    vertical-align: middle;
}

.splitroutes-new-param.search {
    width: 30%;
}
.splitroutes-new-param {
    display: inline-block;
    vertical-align: top;
    padding-right: 30px;
}

.splitroutes-new .button-area {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    text-align: right;
}
.splitroutes-tablearea td.alias {
    width: 200px;
}

.splitroutes-tablearea .mx-table {
    overflow: visible
}

.splitroutes-tablearea td.center {
    text-align: center
}

.splitroutes-tablearea td.no {
    width: 55px
}

.splitroutes-tablearea td.alias {
    width: 200px
}

.splitroutes-tablearea td.number {
    width: 230px
}

.splitroutes-tablearea td.actions {
    width: 200px
}

.splitroutes-tablearea tbody td {
    padding: 25px 0px;
}

.splitroutes-tablearea tbody tr.edit td {
    padding-top: 17px;
    padding-bottom: 17px
}

.splitroutes-tablearea tbody tr.edit td span.error {
    font-size: 12px;
    color: red
}

.splitroutes-tablearea tbody td>input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    font-family: open sans;
    color: #333
}

.splitroutes-tablearea td span.button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    cursor: pointer
}

.splitroutes-tablearea td span.button.edit {
    color: #00b1d9;
    margin-right: 25px
}

.splitroutes-tablearea td span.button.delete {
    color: #ef5350
}

.splitroutes-tablearea td span.button.save {
    color: #4cb072;
    margin-right: 25px
}

.splitroutes-tablearea td span.button.cancel {
    color: #929292
}

.splitroutes-tablearea td.actions {
    width: 200px;
}
.splitroutes-tablearea td.center {
    text-align: center;
}

//MX TABLE
.mx-table {
    width: 100%;
    border-radius: 3px;
    overflow-x: auto;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    background: #fff;
    padding: 25px;
    padding-top: 10px;
}

.mx-table table {
    width: 100%;
    border-spacing: 0;
}

.mx-table thead {
    color: #00628f;
}
.mx-table td.positive {
    color: #2c662d!important;
}

.mx-table td.negative {
    color: #9f3a38!important;
}

.mx-table thead tr:hover {
    background: none;
}
.mx-table tr:hover {
    background: #f7f7f7;
}
.mx-table tbody tr:last-of-type td {
    border: none;
}
.mx-table thead td {
    padding: 17px;
    padding-left: 10px;
    color: #348abe;
    border: none;
    border-bottom: 2px solid #eee;
}
.mx-table td {
    padding: 10px;
    font-size: 0.8em;
    color: #777;
    line-height: 20px;
    border-bottom: 1px solid #f1f1f1;
}

.mx-table td:last-child {
    border-right: none;
}

.split-sub-header {
    background-color: #fafafa;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}
.predicate__right {
    border-right: 1px solid #ddd;
}


.modal {
    top: auto; 
    right: auto; 
    bottom: auto;
    left: auto;
    z-index: 1050;
    height: auto;
    display: none;
    overflow: hidden;
    // outline: auto;
}

.transactions-param {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 10px;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 5px;
  }
  
  .transactions-param label {
    display: block;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #777;
  }
  
  .transactions-param-control {
    display: block;
  }

  .ui.header>.icon {
      font-size: 1em;
  }

  .ui.header>.icon+.content {
      font-size: 0.8em;
  }

  .sidebar.sidebar--collapse + .container__wrap {
  
    .notifications-tl, .notifications-bl {
      left: 0 !important;
    }
  }

  .product_name {
      text-transform: capitalize;
  }